/*------------------------------ HEADER ------------------------------*/
.head_bar {
  width: 100vw;
  height: 65px;
  top: 0px;
  background-color: #f3f3f3ff;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

.head_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head_img {
  position: absolute;
  width: 130px;
  top: -15px;
  left: -65px;
}

.go_back_btn {
  position: absolute;
  top: 8px;
  left: 25px;
  border: none;
}

.go_back_img {
  height: 50px;
}

.settings_btn {
  position: absolute;
  top: 12px;
  right: 33px;
  border: none;
}

.settings_img {
  height: 40px;
}

/*---------- DROPDOWN ----------*/
.dropdownBox {
  user-select: none;
  z-index: 10;
  position: fixed;
  right: 35px;
  top: 80px;
  width: 190px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  filter: drop-shadow(0 2px 2px rgb(189, 189, 189));
  text-align: center;
}

.triangle {
  position: absolute;
  right: 13px;
  top: -20px;
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent transparent white transparent;
}

.dropdownAccName {
  margin-top: 5px;
  color: black;
}

.dropdownBtn {
  z-index: 5;
  position: absolute;
  right: 5%;
  width: 90%;
  height: 48px;
  border-top: gray;
  border-bottom: gray;
  border-left: transparent;
  border-right: transparent;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  transition: all .2s ease-in;
}

.dropdownBtn:hover {
  background-color: rgb(234, 234, 234);
  /* Your desired hover color */
}

.dropdownImg {
  position: absolute;
  top: 7px;
  left: 5px;
  height: 33px;
}

.dropdownTxt {
  position: absolute;
  margin-top: 14px;
  left: 50px;
}