html,
body {
  max-width: 100%;
  padding-left: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

/*------------------------------ HEADER ------------------------------*/
.headBar {
  width: 100vw;
  height: 65px;
  top: 0px;
  background-color: #f3f3f3ff;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

.headCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headImg {
  position: absolute;
  width: 130px;
  top: -15px;
  left: -65px;
}

.headHighTxtRight {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*------------------------------ MID ------------------------------*/
.midBar {
  top: 65px;
  width: 100%;
  height: 275px;
  position: absolute;
}

/*---------- MID-HIGH ----------*/

.midHigh {
  z-index: -1;
  user-select: none;
  width: 100%;
  height: 180px;
  position: absolute;
  text-align: center;
  background-color: #073763ff;
}

.title {
  color: white;
  padding-top: 3%;
  font-size: xx-large;

}

/*---------- CENTER ----------*/
.midCenter {
  user-select: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* iframe[title="React error overlay"] {
    display: none;
} */

.midBox {
  height: 175px;
  position: relative;
  margin-top: 90px;

}

/*---------- LOW ----------*/
.midLow {
  position: absolute;
  top: 180px;
  height: 82px;
  width: 100%;
  background-color: #f3f3f3ff;
}

.midBoxLogin {
  /* default styles for the box */
  padding: 20px;
  border: 1px solid #ccc;
}


/*------------------------------ LOW ------------------------------*/
.lowBar {
  position: absolute;
  top: 365px;
  min-height: 330px;
  height: 500px;
  width: 100vw;
  /* height: auto; */
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.low_bar_tbl {
  table-layout: fixed;
  position: absolute;
  width: 85%;
  height: 50%;
  top: 80px;
}

.low_bar_btn {
  width: 90%;
  min-width: 300px;
  height: 150px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-color: #007B90;
  border-radius: 25px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  text-align: left;
  padding-left: 15px;
  font-size: 77%;
  user-select: none;
  z-index: -1;
}

.low_bar_btn:hover {
  width: 92%;
  height: 160px;
}

.low_bar_btn_img {
  width: auto;
  height: 25%;
  object-fit: fil;
}

.low_bar_btn_title {
  line-height: 6px;
  color: #0b5394;
}

.low_bar_btn_sub {
  color: #666666;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #073763ff;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;

}

.play_button {
  font-size: 60px;
  color: white;
  display: grid;
  place-items: center;
  margin-top: 2%;
  height: 1cm;
  width: 1cm;
  border-radius: 50%;
  border: none;
  background-color: #007B90;
  cursor: pointer;
  transition: 0.3;
  animation: pulse 1.3s ease infinite;
}

.play_button::before {
  content: "";
  display: inline-block;
  border-left: 0.3cm solid;
  border-top: 0.18cm solid transparent;
  border-bottom: 0.18cm solid transparent;
  margin-left: 0.08cm;
}

.play_button:hover {
  background: #008fa9;
  ;
}

/*---------- KEY FRAMES -------- */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0cm 0cm 0cm 0cm #729fa7;
  }

  100% {
    box-shadow: 0cm 0cm 0cm 0.15cm #7daab1;
  }

}

.mid-box-txt-title,
.mid-box-txt-line {
  animation: slideInFromRight 1s ease-out;
}

/*------------------------------ Collapsable ------------------------------*/

/*------------------------------ HEADER ------------------------------*/
.headBar {
  width: 100vw;
  height: 65px;
  top: 0px;
  background-color: #f3f3f3ff;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

/*------------------------------ MID ------------------------------*/
.midBar {
  top: 65px;
  width: 100%;
  height: 300px;
  position: absolute;
}

/*---------- MID-HIGH ----------*/
.midHigh {
  user-select: none;
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: #073763ff;
}

/*---------- CENTER ----------*/
.midCenter {
  user-select: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.midBox {
  width: 1000px;
  display: block;
  margin: auto;

}

/*---------- LOW ----------*/
.midLow {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: rgb(239, 239, 239);
  bottom: 0px;
  z-index: 0;
}

.midBoxLogin {
  /* default styles for the box */
  padding: 20px;
  border: 1px solid #ccc;
}


/*------------------------------ LOW ------------------------------*/
.lowBar {
  position: absolute;
  top: 365px;
  min-height: 330px;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/*---------- KEY FRAMES -------- */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.mid-box-txt-title,
.mid-box-txt-line {
  animation: slideInFromRight 1s ease-out;
}

/*------------------------------ Collapsable ------------------------------*/
.collapsible .content {
  padding: 6px;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 7px;
  width: 70vw;
}

.collapsible .header {
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  width: 70vw;
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.collapsible .header .title {
  font-weight: 400;
}

.helpTable {
  position: absolute;
  left: 15%;
  top: 6%;

}

.helpTable label {
  display: block;
  padding-bottom: 4px;
}

.helpTableTitle {
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 5px;
}

.break {
  margin-bottom: 100px;
}

/* --------------------from-----------------------------------*/
.search {
  display: flex;
  margin-right: 25px;
  margin-top: 20px;


}

.form {
  display: flex;

}

.field {
  flex: 1;
  margin-right: 25px;
  position: relative;
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.input {
  width: 700px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 30px;
  border-radius: 10px;
}

.submit {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #007B90;
  color: white;
  border: none;
  cursor: pointer;
}

.inputIcon {
  position: absolute;
  top: 50%;
  padding-left: 1px;
  left: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.submit:hover {
  background-color: #088196;
}

/* --------------------pop up-----------------------------------*/
.popupContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(7, 55, 99, 0.9);
  border-radius: 25px;
  height: 250px;
  /* display: grid; */
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.contactContainer {
  max-width: 650px;
  width: 100%;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(7, 55, 99, 0.9);
  border-radius: 25px;
  height: 290px;
}

.FAQContainer {
  max-width: 900px;
  width: 100%;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(7, 55, 99, 0.9);
  border-radius: 25px;
  height: 360px;
}

.passwordContainer {
  max-width: 700px;
  width: 100%;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(7, 55, 99, 0.9);
  border-radius: 25px;
  height: 360px;
  /* display: grid; */
}

.img {
  position: fixed;
  top: 8%;
  left: 2%;
  padding: 2px;
  width: 130px;

  object-fit: fill
    /* top: -15px;
    left: -65px; */
    /* width: 150px;
  object-fit: fill; */
}

.popupRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 1px;
  right: 30px;
  font-size: x-large;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: #000;

}

.content2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  /* margin-top: 1rem; */
  padding: 1rem 2rem;

}

.title {

  padding-left: 175px;
  color: #000;

  /* margin-top: 1rem;
  padding: 1rem 2rem; */

}