html,
body {
  max-width: 100vw;
  padding-left: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

/*------------------------------ HEADER ------------------------------*/
.head_bar {
  user-select: none;
  width: 100vw;
  height: 65px;
  top: 0px;
  background-color: #f3f3f3ff;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

/*------------------------------ MID ------------------------------*/
.mid_bar {
  top: 65px;
  width: 100%;
  height: 450px;
  position: absolute;
}

/*---------- HIGH ----------*/
.mid_high {
  user-select: none;
  width: 100%;
  height: 150px;
  position: absolute;
  background-color: #073763ff;
}

.mid_high_txt_left {
  position: absolute;
  text-align: left;
  left: 30px;
  top: 30px;
  line-height: 10px;
  color: white;
}

.mid_high_center_container {
  display: flex;
  justify-content: center;
}

/*---------- CENTER ----------*/
.mid_center {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mid_box {
  width: 400px;
  position: relative;
}

.mid_box_txt {
  position: absolute;
  top: 55px;
  color: white;
  text-align: center;
  width: 100%;
  font-size: xx-large;
  line-height: 15px;

}

/*---------- LOW ----------*/
.mid_low {
  width: 100%;
  height: auto;
  min-height: 300px;
  position: absolute;
  top: 150px;
}

/*------------------------------ MONTH RANGE PICKER ------------------------------*/
.month_range_container {
  margin-top: 40px;
  position: absolute;
  width: 450px;
  height: 70px;
  background-color: rgb(253, 253, 253);
  padding: auto;
  border-radius: 10px;
  border-color: rgb(228, 228, 228);
  border-width: 3px;
  border-style: solid;
  justify-content: center;
  display: flex;
}

.month_select {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: x-large;
  table-layout: initial;
  width: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);


}

.month_select_btn {
  background-color: transparent;
  border-color: transparent;
  background-repeat: no-repeat;
  user-select: none;
}

/*------------------------------ GRAPHS ------------------------------*/

.graphs_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.picker_container {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3ff;
  z-index: 1;
}

.graphs_picker {
  position: absolute;
  margin-top: 20px;
  height: 50px;
  width: 70%;
  column-width: initial;
  border-collapse: collapse;
  user-select: none;
  z-index: 1;
}

.graph_selection_heads {
  background-color: transparent;
  z-index: 3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.graph_selection_heads:hover {
  background-color: rgb(255, 255, 255);
}

.selected {
  background-color: white;
}

.graphs_inner_container {
  position: absolute;
  display: flex;
  justify-content: center;

  width: 100vw;
  min-height: 550px;
  height: 75vh;
  background-color: white;
  padding-bottom: 20px;
}

.graph_category_container {
  margin-top: auto;
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: center;
  bottom: 0.5vh;
  margin-bottom: 50px;
}

.graph_category_picker {
  position: relative;
  width: 70%;
  max-width: 700px;
  column-width: initial;
}

.graph_category_btn {
  z-index: 4;
  width: 140px;
  height: 40px;
  border-radius: 7px;
  border-color: rgb(64, 64, 64);
  border-style: solid;
  background-color: white;
}

.graph_category_circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(172, 172, 172);
}

.graph_container_pie {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 105px;
}

.graph_container_line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph_container_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}


.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-top-color: #4e73df;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}