html, body {
    max-width: 100%;
    padding-left: 0px;
    margin: 0px;
    background-color: #f3f3f3ff;
    font-family: Arial, sans-serif;
  }
  
  /*------------------------------ HEADER ------------------------------*/
  .head_bar{
    user-select: none;
    width: 100%;
    height: 65px;
    top: 0px;
    background-color: #f3f3f3ff;
    position: fixed;
    text-align: center;
    overflow: hidden;
    z-index: 4;
  }
  .head_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .head_img{
    position: absolute;
    width: 130px;
    top: -15px;
    left: -65px;
  }
  .settings_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
  }
  .settings_img {
    height: 55px;
  }

  
  /*------------------------------ MID ------------------------------*/
  .mid_bar{
    top: 65px;
    width: 100vw;
    height: 314px;
    position: absolute;
  }
  /*---------- BODY ----------*/
  .mid_high{
    z-index: -1;
    user-select: none;
    width: 100%;
    height: 232px;
    position: absolute;
    background-color: #073763ff;
  }
  .mid_low{
    position: absolute;
    top: 232px;
    height: 82px;
    width: 100%;
    background-color: #f3f3f3ff;
  }
  .mid_high_txt_left{
    position: absolute;
    text-align: left;
    left: 30px;
    top: 30px;
    line-height: 10px;
    color: white;
  }
  .mid_high_profile{
    position: absolute;
    background-color: rgb(187, 32, 140);
    right: 40px;
    top: 40px;
    width: 150px;
    height: 60px;
  }
  /*---------- CENTER ----------*/
  .mid_center{
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .mid_box{
    height: 175px;
    position: relative;
    margin-top: 90px;
  }
  .mid_box_txt{
    position: absolute;
    top: 40%;
    left: 3%;
    color: white;
    text-align: left;
    font-size: large;
    line-height: 8px;
  }
  .mid_box_txt_title{
    line-height: 30px;
  }
  /*---------- LOW ----------*/
  .small_help_btn {
    user-select: none;
    font-size: 14px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: #3d85c6;
    z-index: 4;
    bottom: 10px;
    left: 20px;
    position: absolute;
  }
  .mid_box_login {
    /* default styles for the box */
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  
  /*------------------------------ LOW ------------------------------*/
  .low_bar{
    position: absolute;
    top: 379px;
    height: 330px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }
  .low_bar_tbl{
    table-layout: fixed;
    position: absolute;
    width: 85%;
    height: 65%;
    top: 50px;
  }
  .low_bar_btn{
    width: 90%;
    min-width: 300px;
    height: 90%;
    background-color: white;
    border: solid;
    border-width: 3px;
    border-color: #9f9f9f;
    border-radius: 25px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    text-align: left;
    padding-left: 15px;
    font-size: 77%;
    user-select: none;
  
  }
  .low_bar_btn:hover{
    width: 92%;
    height: 92%;
  }
  .low_bar_btn_img{
    width: 10%;
    height: auto;
  }
  .low_bar_btn_title{
    line-height: 6px; 
    color: #0b5394;
  }
  .low_bar_btn_sub{
    color: #666666;
  }
  
  .footer {
    width: 100%;
    height: 50px;
    background-color: #073763ff;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
  
  }
  /*---------- KEY FRAMES -------- */
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .mid_box_txt_title,
  .mid_box_txt_line{
    animation: slideInFromRight 1s ease-out;
  }
  
  
/*---------- DROPDOWN ----------*/
.dropdownBox{
  user-select: none;
  z-index: 10;
  position: absolute;
  right: 20px;
  top: 12px;
  width: 190px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  filter: drop-shadow(0 2px 2px rgb(189, 189, 189));
  text-align: center;
}
.triangle {
  position: absolute;
  right: 13px;
  top: -20px;
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent transparent white transparent;
}
.dropdownAccName {
  margin-top: 5px;
  color: black;
}
.dropdownBtn {
  z-index: 5;
  position: absolute;
  right: 5%;
  width: 90%;
  height: 48px;
  border-top: gray;
  border-bottom: gray;
  border-left: transparent;
  border-right: transparent;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  transition: all .2s ease-in;

}
.dropdownBtn:hover {
  background-color: rgb(234, 234, 234); /* Your desired hover color */
}
.dropdownImg {
  position: absolute;
  top: 7px;
  left: 5px;
  height: 33px;
}
.dropdownTxt {
  position: absolute;
  margin-top: 14px;
  left: 50px;
}