/* Login.module.css */

html,
body {
  max-width: 100%;
  padding-left: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

/*------------------------------ HEADER ------------------------------*/
.headBar {
  width: 100vw;
  height: 65px;
  top: 0px;
  background-color: #f3f3f3ff;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}
.headCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headImg {
  position: absolute;
  width: 130px;
  top: -15px;
  left: -65px;
}

/*------------------------------ MID ------------------------------*/
.midBarLogin {
  top: 65px;
  width: 100vw;
  height: 100% - 65px;
  position: absolute;
}
/*---------- HIGH ----------*/
.midHighLogin {
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #073763ff;
}
/*---------- CENTER ----------*/
.midCenterLogin {
  position: absolute;
  top: 20%;
  left: 50%;
  height: 300px;
  transform: translate(-50%, -50%);
}
.midBoxLogin {
  width: 750px;
  position: relative;
  margin-top: 220px;
  height: 510px;
  border-style: solid;
  border-radius: 3%;
  border-width: 5px;
  border-color: rgb(231, 231, 231);
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1;
}

.midBoxTxtLogin {
  position: absolute;
  top: 35%;
  left: 3%;
  color: white;
  text-align: center;
  font-size: large;
  line-height: 8px;
  z-index: 1;
  
}
.midBoxTxtTitleLogin {
  line-height: 70px;
  text-align: center;
  color: #1c2640ff;
  font-size: xx-large;
  z-index: 1;
}
.loginMessage {
  border-style: solid;
  background-color: #073763ff;
  border-radius: 15px;
  border-width: 10%;
  position: absolute;
  width: 550px;
  height: 100px;
  align-content: center;
  color: white;
  z-index: 51;
  font-size: large;
  padding-top: 70px;
  vertical-align: middle;
  margin-left: 125px;
  border-color: whitesmoke;
}
.smallHelpBtn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
  user-select: all;
  font-size: 14px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  color: #3d85c6;
}
.smallHelpBtn:hover {
  background-color: rgb(202, 202, 254);
}
/*---------- Login Form ----------*/
.loginForm {
  margin-top: 40px;
}
.formControl {
  width: 500px;
  height: 40px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
.loginInputTitle {
  margin-top: 18px;
  text-align: left;
  margin-left: 125px;
  margin-bottom: 10px;
}
.loginRemember {
  margin-top: 10px;
  text-align: left;
  margin-left: 125px;
}
.loginBtnSubmit {
  height: 40px;
  width: 200px;
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px; 
  font-weight: bold;
}
.loginBtnSubmit:hover {
  background-color: rgb(236, 236, 236);
}
.loginForgottenBtn {
  text-align: left;
  margin-top: 20px;
  margin-left: 125px;
}
a {
  text-decoration: none;
  color: #1c2640ff;
}


