html,
body {
  max-width: 100vw;
  padding-left: 0px;
  margin: 0px;
  background-color: white;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

/*------------------------------ HEADER ------------------------------*/
.head_bar {
  user-select: none;
  width: 100vw;
  height: 65px;
  top: 0px;
  background-color: #f3f3f3ff;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

/*------------------------------ MID ------------------------------*/
.mid_bar {
  top: 65px;
  width: 100vw;
  height: 314px;
  position: absolute;
}

.mid_high {
  user-select: none;
  width: 100%;
  height: 232px;
  position: absolute;
  background-color: #073763ff;
}

.mid_low {
  width: 100%;
  height: 82px;
  position: absolute;
  background-color: #f3f3f3ff;
  bottom: 0px;
}

/*---------- HIGH ----------*/
.mid_high_txt_left {
  position: absolute;
  text-align: left;
  left: 30px;
  top: 30px;
  line-height: 10px;
  color: white;
}

.mid_high_center {
  position: absolute;
  top: 10px;
  left: 50%;
}

.month_select {
  margin: 0 auto;
  transform: translate(-50%, -0%);
  color: white;
  font-size: x-large;
  table-layout: initial;
  width: 150px;
  align-items: center;
  user-select: none;
}

.month_select_btn {
  background-color: transparent;
  border-color: transparent;
  background-repeat: no-repeat;
  user-select: none;
}

.mid_high_profile {
  position: absolute;
  background-color: rgb(187, 32, 140);
  right: 40px;
  top: 40px;
  width: 150px;
  height: 60px;
}

/*---------- CENTER ----------*/
.mid_center {
  user-select: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mid_box {
  width: 291px;
  position: relative;
}

.mid_box_txt {
  position: absolute;
  top: 40px;
  color: white;

  text-align: center;
  width: 100%;
  font-size: 30px;
  line-height: 5px;

}

/*------------------------------ LOW ------------------------------*/
.low_bar {
  position: absolute;
  top: 379px;
  height: 450px;
  width: 100%;
  background-color: white;
  padding-top: 30px;
  bottom: 0px;
}

/*---------- Transaction Table ----------*/
.transaction_btns {
  width: 60%;
  height: 50px;
  position: absolute;
  margin-left: 20%;
}

.transaction_btns_search {
  position: absolute;
  height: 40px;
  width: 70%;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 10px;
  border-color: rgb(157, 157, 157);
  border-style: solid;
}

.transaction_btns_download {
  position: absolute;
  height: 46px;
  width: 15%;
  right: 70px;
  font-size: 16px;
  border: none;
  background-color: #073763ff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.transaction_btns_download:hover{
  background-color: #0c5e93ff;
}

.transaction_tbl_border {
  position: absolute;
  height: auto;
  width: 74%;
  padding: 1%;
  margin-left: 13%;
  margin-top: 80px;

  border-style: solid;
  border-color: rgb(157, 157, 157);
  border-radius: 15px;
  border-width: 2px;
}

.transaction_tbl_container {
  position: relative;
  width: auto;
  height: auto;

  max-height: 250px;
  overflow: auto;
}

.transaction_tbl {
  width: 100%;
  top: 100px;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: initial;
}

.transaction_tbl th,
.transaction_tbl td {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.transaction_tbl td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.noDataCell {
  text-align: center;
}

.h:hover {
  background-color: rgb(234, 250, 255);
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.c {
  text-align: center;
}

.header_text {
  float: left;
  user-select: none;
}

.header_text_r {
  float: right;
  user-select: none;
}

.sort_arrow {
  user-select: none;
  float: right
}